@media (min-width: 576px) { 

}

/* menos de 575.88px */
@media (max-width: 767.98px){ 

    div .header-columan2{

        margin-top: 50px;
        padding: 15% 20%;
        position: relative;
        background-image: url('./../images/fondoheadermin.png');
        background-repeat: no-repeat;
        background-attachment:scroll;
        background-size:cover;
    }

    
    #imagen-principal{
        width: 100%;
        height: 100%;
        position: relative;
        left: auto;
        z-index: 1;
        animation: movimiento1 .8s alternate infinite ease-in;
        content: url('./../images/prueba.jpg');
    }
    #imagen-objeto1{
        position: absolute;
        left: 15%;
        top: 70%;
    }
    #imagen-objeto2{
        position: absolute;
        left: 70%;
        top: 65%;
    }
    #imagen-objeto3{
        position: absolute;
        left: 25%;
    }
    #imagen-objeto4{
        position: absolute;
        left: 75%;
        top: 15%;
    }
    #imagen-objeto5{
        position: absolute;
        left: 55%;
        top: 5%;
    }
}